build-tomo:
  githubSecret: vault:secret/data/build-tomo#GITHUB_WEBHOOK_SECRET

  replicaCount: 1

  image:
    repository: p80n/build-tomo-server
    pullPolicy: IfNotPresent
    tag: "latest"


  serviceAccount:
    create: true
    annotations: {}
    name: ""

  podAnnotations: {}

  podSecurityContext: {}

  securityContext:
    privileged: true

    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 8000

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
      certmanager.k8s.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/limit-connections: "5"
      nginx.ingress.kubernetes.io/limit-rpm: "10"
    hosts:
      - host: build-tomo.p80n.me
        paths:
        - /
    tls:
     - secretName: tls-cert
       hosts:
         - build-tomo.p80n.me

  resources:
    limits:
      cpu: 200m
      memory: 1Gi
